In [1]:
import pandas as pd
import glob
#file_names = glob.glob("./*.txt")

In [108]:
df_raw=pd.read_csv('Kelvin_2021-01-01.txt',index_col=None, header=0, encoding='latin-1')

In [109]:
df = df_raw.copy()
df.drop(df.columns[42], axis=1, inplace=True)

In [110]:
#df.head()
df.tail()

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,dTcw[°C],Gcw[t/h].3,Tzcw[°C],Qcw[GJ].1,Vcw[m3].1,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C]
24955,2021-01-01 19:00:00,512100,1090.3,341.5,76.3,47.5,_,_,_,_,...,-0.8,_,_,_,_,_,_,_,_,_
24956,2021-01-01 20:00:00,512100,1083.0,350.4,77.0,48.0,_,_,_,_,...,-0.7,_,_,_,_,_,_,_,_,_
24957,2021-01-01 21:00:00,512100,1086.1,342.3,79.4,48.3,_,_,_,_,...,-0.6,_,_,_,_,_,_,_,_,_
24958,2021-01-01 22:00:00,512100,1093.3,338.3,81.0,48.5,_,_,_,_,...,-0.6,_,_,_,_,_,_,_,_,_
24959,2021-01-01 23:00:00,512100,1092.5,342.1,80.0,49.0,_,_,_,_,...,-0.3,_,_,_,_,_,_,_,_,_

In [88]:
import numpy as np
df = df.replace('_',np.NaN);

In [89]:
'''Sprawdź dataframea: '''
df

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,dTcw[°C],Gcw[t/h].3,Tzcw[°C],Qcw[GJ].1,Vcw[m3].1,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C]
0,2021-01-01 00:00:00,684001,NaN,NaN,NaN,NaN,1.45,83.4,54.4,3728.120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 01:00:00,684001,NaN,NaN,NaN,NaN,1.93,82.7,56.2,3728.320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 02:00:00,684001,NaN,NaN,NaN,NaN,1.92,83.7,57.3,3728.520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 03:00:00,684001,NaN,NaN,NaN,NaN,2.15,82.7,58.9,3728.740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 04:00:00,684001,NaN,NaN,NaN,NaN,2.14,83.6,58.8,3728.950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,2021-01-01 19:00:00,512100,1090.3,341.5,76.3,47.5,NaN,NaN,NaN,NaN,...,-0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24956,2021-01-01 20:00:00,512100,1083.0,350.4,77.0,48.0,NaN,NaN,NaN,NaN,...,-0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24957,2021-01-01 21:00:00,512100,1086.1,342.3,79.4,48.3,NaN,NaN,NaN,NaN,...,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24958,2021-01-01 22:00:00,512100,1093.3,338.3,81.0,48.5,NaN,NaN,NaN,NaN,...,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24959,2021-01-01 23:00:00,512100,1092.5,342.1,80.0,49.0,NaN,NaN,NaN,NaN,...,-0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
'''Zapisz do CSV z separatorem ;'''
df.to_csv('Test1.csv', sep =';')

# Plik - sparse Array

In [35]:
'dense : {:0.2f} bytes'.format(df.memory_usage().sum() / 1e3)

'dense : 8386.69 bytes'

In [79]:
df[df.columns[1]]

0        684001
1        684001
2        684001
3        684001
4        684001
          ...
24955    512100
24956    512100
24957    512100
24958    512100
24959    512100
Name: ID_nadrz, Length: 24960, dtype: int64

In [80]:
df_1 = df[df.columns[2:]].astype(pd.SparseDtype("float", np.nan))

In [81]:
df_1

,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],Vco[m3],Vuz[m3],...,dTcw[°C],Gcw[t/h].3,Tzcw[°C],Qcw[GJ].1,Vcw[m3].1,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C]
0,NaN,NaN,NaN,NaN,1.45,83.4,54.4,3728.12,43175.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,1.93,82.7,56.2,3728.32,43177.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,1.92,83.7,57.3,3728.52,43179.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.15,82.7,58.9,3728.74,43181.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,2.14,83.6,58.8,3728.95,43183.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,1090.3,341.5,76.3,47.5,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24956,1083.0,350.4,77.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24957,1086.1,342.3,79.4,48.3,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24958,1093.3,338.3,81.0,48.5,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24959,1092.5,342.1,80.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df_1.insert(0, df.columns[0],df[df.columns[0]])

In [55]:
df_1.insert(1, df.columns[1],df[df.columns[1]])

In [82]:
for i in range(2):
    df_1.insert(i, df.columns[i],df[df.columns[i]])

In [83]:
df_1

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,dTcw[°C],Gcw[t/h].3,Tzcw[°C],Qcw[GJ].1,Vcw[m3].1,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C]
0,2021-01-01 00:00:00,684001,NaN,NaN,NaN,NaN,1.45,83.4,54.4,3728.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 01:00:00,684001,NaN,NaN,NaN,NaN,1.93,82.7,56.2,3728.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 02:00:00,684001,NaN,NaN,NaN,NaN,1.92,83.7,57.3,3728.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 03:00:00,684001,NaN,NaN,NaN,NaN,2.15,82.7,58.9,3728.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 04:00:00,684001,NaN,NaN,NaN,NaN,2.14,83.6,58.8,3728.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,2021-01-01 19:00:00,512100,1090.3,341.5,76.3,47.5,NaN,NaN,NaN,NaN,...,-0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24956,2021-01-01 20:00:00,512100,1083.0,350.4,77.0,48.0,NaN,NaN,NaN,NaN,...,-0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24957,2021-01-01 21:00:00,512100,1086.1,342.3,79.4,48.3,NaN,NaN,NaN,NaN,...,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24958,2021-01-01 22:00:00,512100,1093.3,338.3,81.0,48.5,NaN,NaN,NaN,NaN,...,-0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24959,2021-01-01 23:00:00,512100,1092.5,342.1,80.0,49.0,NaN,NaN,NaN,NaN,...,-0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
'dense : {:0.2f} bytes'.format(df_1.memory_usage().sum() / 1e3)

'dense : 2206.27 bytes'

In [117]:
dfa['Godz'][1][:10]

'2021-01-01'

In [85]:
df_1.to_csv('DataAfterSparse.csv',sep=';')

# TEST Z czytaniem i zapisem wielu plików :)

In [133]:
week_idx = file_names[:len(file_names)]
import time
week_data=pd.DataFrame()
start = time.time()
for day in week_idx:
    start = time.time()
    df=pd.read_csv(day,index_col=False, header=0, encoding='latin-1')
    df.drop(df.columns[42], axis=1, inplace=True)
    df = df.replace('_',np.NaN)
    df.to_csv('Kelvin_'+df['Godz'][1][:10]+'.csv',sep=';')
    print(df['Godz'][1][:10])
#     week_data=pd.concat([week_data,df],ignore_index=True).reset_index(drop=True)
#     end = time.time()
#     print(f"Iteracja: {day}\tWyniosla: {(end-start)*10**3:.05f}ms")
# print("Czas wykonania skryptu wyniósł :",
#       (end-start) * 10**3, "ms")

2021-01-01
2021-01-02
2021-01-03
2021-01-04
2021-01-05
2021-01-06
2021-01-07
2021-01-08
2021-01-09
2021-01-10
2021-01-11
2021-01-12
2021-01-13
2021-01-14
2021-01-15
2021-01-16
2021-01-17
2021-01-18
2021-01-19
2021-01-20
2021-01-21
2021-01-22
2021-01-23
2021-01-24
2021-01-25
2021-01-26
2021-01-27
2021-01-28
2021-01-29
2021-01-30
2021-01-31

In [138]:
filec_names = glob.glob("./t1/*.csv")

In [139]:
filec_names

['./t1\\Kelvin_2021-01-01.csv',
 './t1\\Kelvin_2021-01-02.csv',
 './t1\\Kelvin_2021-01-03.csv',
 './t1\\Kelvin_2021-01-04.csv',
 './t1\\Kelvin_2021-01-05.csv',
 './t1\\Kelvin_2021-01-06.csv',
 './t1\\Kelvin_2021-01-07.csv',
 './t1\\Kelvin_2021-01-08.csv',
 './t1\\Kelvin_2021-01-09.csv',
 './t1\\Kelvin_2021-01-10.csv',
 './t1\\Kelvin_2021-01-11.csv',
 './t1\\Kelvin_2021-01-12.csv',
 './t1\\Kelvin_2021-01-13.csv',
 './t1\\Kelvin_2021-01-14.csv',
 './t1\\Kelvin_2021-01-15.csv',
 './t1\\Kelvin_2021-01-16.csv',
 './t1\\Kelvin_2021-01-17.csv',
 './t1\\Kelvin_2021-01-18.csv',
 './t1\\Kelvin_2021-01-19.csv',
 './t1\\Kelvin_2021-01-20.csv',
 './t1\\Kelvin_2021-01-21.csv',
 './t1\\Kelvin_2021-01-22.csv',
 './t1\\Kelvin_2021-01-23.csv',
 './t1\\Kelvin_2021-01-24.csv',
 './t1\\Kelvin_2021-01-25.csv',
 './t1\\Kelvin_2021-01-26.csv',
 './t1\\Kelvin_2021-01-27.csv',
 './t1\\Kelvin_2021-01-28.csv',
 './t1\\Kelvin_2021-01-29.csv',
 './t1\\Kelvin_2021-01-30.csv',
 './t1\\Kelvin_2021-01-31.csv']

In [144]:
quart_idx = filec_names[:len(file_names)]
import time
quart_data=pd.DataFrame()
start = time.time()
for day in quart_idx:
    start = time.time()
    df=pd.read_csv(day,index_col=None, header=0, encoding='latin-1',sep=';')
    df.drop(df.columns[0], axis=1, inplace=True)
    #quart_data=pd.concat([quart_data,df]).reset_index(drop=True)
    #quart_data=pd.concat([quart_data,df]).reset_index(drop=False)
    #quart_data=pd.concat([quart_data,df],ignore_index=True)
    quart_data=pd.concat([quart_data,df],ignore_index=True).reset_index(drop=True)
    end = time.time()
    print(f"Iteracja: {day}\tWyniosla: {(end-start)*10**3:.05f}ms")
print("Czas wykonania skryptu wyniósł :",
      (end-start) * 10**3, "ms")

Iteracja: ./t1\Kelvin_2021-01-01.csv	Wyniosla: 79.47302ms
Iteracja: ./t1\Kelvin_2021-01-02.csv	Wyniosla: 142.84205ms
Iteracja: ./t1\Kelvin_2021-01-03.csv	Wyniosla: 152.73905ms
Iteracja: ./t1\Kelvin_2021-01-04.csv	Wyniosla: 165.25865ms
Iteracja: ./t1\Kelvin_2021-01-05.csv	Wyniosla: 162.34684ms
Iteracja: ./t1\Kelvin_2021-01-06.csv	Wyniosla: 181.47564ms
Iteracja: ./t1\Kelvin_2021-01-07.csv	Wyniosla: 190.37127ms
Iteracja: ./t1\Kelvin_2021-01-08.csv	Wyniosla: 195.72067ms
Iteracja: ./t1\Kelvin_2021-01-09.csv	Wyniosla: 216.60829ms
Iteracja: ./t1\Kelvin_2021-01-10.csv	Wyniosla: 239.53462ms
Iteracja: ./t1\Kelvin_2021-01-11.csv	Wyniosla: 235.50773ms
Iteracja: ./t1\Kelvin_2021-01-12.csv	Wyniosla: 233.23345ms
Iteracja: ./t1\Kelvin_2021-01-13.csv	Wyniosla: 248.99173ms
Iteracja: ./t1\Kelvin_2021-01-14.csv	Wyniosla: 242.25259ms
Iteracja: ./t1\Kelvin_2021-01-15.csv	Wyniosla: 253.90530ms
Iteracja: ./t1\Kelvin_2021-01-16.csv	Wyniosla: 239.74824ms
Iteracja: ./t1\Kelvin_2021-01-17.csv	Wyniosla: 265.66839ms
Iteracja: ./t1\Kelvin_2021-01-18.csv	Wyniosla: 285.60710ms
Iteracja: ./t1\Kelvin_2021-01-19.csv	Wyniosla: 267.65561ms
Iteracja: ./t1\Kelvin_2021-01-20.csv	Wyniosla: 289.35814ms
Iteracja: ./t1\Kelvin_2021-01-21.csv	Wyniosla: 288.14030ms
Iteracja: ./t1\Kelvin_2021-01-22.csv	Wyniosla: 306.72765ms
Iteracja: ./t1\Kelvin_2021-01-23.csv	Wyniosla: 309.29160ms
Iteracja: ./t1\Kelvin_2021-01-24.csv	Wyniosla: 330.07979ms
Iteracja: ./t1\Kelvin_2021-01-25.csv	Wyniosla: 317.98458ms
Iteracja: ./t1\Kelvin_2021-01-26.csv	Wyniosla: 310.50515ms
Iteracja: ./t1\Kelvin_2021-01-27.csv	Wyniosla: 298.38252ms
Iteracja: ./t1\Kelvin_2021-01-28.csv	Wyniosla: 307.20592ms
Iteracja: ./t1\Kelvin_2021-01-29.csv	Wyniosla: 317.39974ms
Iteracja: ./t1\Kelvin_2021-01-30.csv	Wyniosla: 358.12259ms
Iteracja: ./t1\Kelvin_2021-01-31.csv	Wyniosla: 321.07615ms
Czas wykonania skryptu wyniósł : 321.0761547088623 ms

In [145]:
quart_data.to_csv('Q_03.csv',index=False)

In [146]:
quart_data.head()

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[Â°C],Tp[Â°C],Gco[t/h],Tzco[Â°C],Tpco[Â°C],Qco[GJ],...,dTcw[Â°C],Gcw[t/h].3,Tzcw[Â°C],Qcw[GJ].1,Vcw[m3].1,Gcy[t/h],Tzcy[Â°C],Qcy[GJ],Vcy[m3],Toto[Â°C]
0,2021-01-01 00:00:00,684001,NaN,NaN,NaN,NaN,1.45,83.4,54.4,3728.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-01 01:00:00,684001,NaN,NaN,NaN,NaN,1.93,82.7,56.2,3728.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-01 02:00:00,684001,NaN,NaN,NaN,NaN,1.92,83.7,57.3,3728.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-01 03:00:00,684001,NaN,NaN,NaN,NaN,2.15,82.7,58.9,3728.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-01 04:00:00,684001,NaN,NaN,NaN,NaN,2.14,83.6,58.8,3728.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN