# 1 PRZYGOTOWANIE DANYCH - załadowanie i scalenie

In [1]:
'''Standardowe biblioteki'''
import pandas as pd

'''The glob module finds all the pathnames matching a specified pattern according to the rules 
used by the Unix shell, although results are returned in arbitrary order. 
No tilde expansion is done, but *, ?, and character ranges expressed with [] will be correctly matched. 
This is done by using the os.scandir() and fnmatch.fnmatch() functions in concert, 
and not by actually invoking a subshell.'''
import glob
file_names = glob.glob("./*.csv")

In [2]:
file_names

['.\\01.csv', '.\\02.csv', '.\\03.csv']

In [3]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 10:06:11

In [4]:
import time
half_idx = file_names[:len(file_names)]

half_data=pd.DataFrame()
for day in half_idx:
    start = time.time()
    df=pd.read_csv(day,index_col=None, header=0, encoding='latin-1')
    #half_data=pd.concat([half_data,df]).reset_index(drop=True)
    #half_data=pd.concat([half_data,df]).reset_index(drop=False)
    #half_data=pd.concat([half_data,df],ignore_index=True)
    half_data=pd.concat([half_data,df],ignore_index=True).reset_index(drop=True)
    end = time.time()
    print(f"Iteracja: {day}\tWyniosla: {(end-start)*10**3:.05f}ms")

C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_13968\2868670386.py:7: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(day,index_col=None, header=0, encoding='latin-1')

Iteracja: .\01.csv	Wyniosla: 185594.99335ms

C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_13968\2868670386.py:7: DtypeWarning: Columns (3,4,7,10,11,12,13,14,15,16,17,18,19,20,21,25,28,29,30,34,36,37,38,40,41,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(day,index_col=None, header=0, encoding='latin-1')

Iteracja: .\02.csv	Wyniosla: 488479.39396ms
Iteracja: .\03.csv	Wyniosla: 566393.30983ms

In [5]:
half_data.tail()

,Unnamed: 0,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[ÃÂÃÂ°C],Tp[ÃÂÃÂ°C],Gco[t/h],Tzco[ÃÂÃÂ°C],Tpco[ÃÂÃÂ°C],...,Tp[Â°C].1,dTco[Â°C],Tzco[Â°C].1,Tpco[Â°C].1,Tcw[Â°C],Tcyrk[Â°C],dTcw[Â°C],Tzcw[Â°C],Tzcy[Â°C],Toto[Â°C]
15179875,1549051,2022-08-31 19:00:00,512100,731.0,315.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,54.0,42.0,0.0,NaN,NaN,NaN
15179876,1549052,2022-08-31 20:00:00,512100,737.0,330.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,54.0,42.0,0.0,NaN,NaN,NaN
15179877,1549053,2022-08-31 21:00:00,512100,696.0,329.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,54.0,42.0,0.0,NaN,NaN,NaN
15179878,1549054,2022-08-31 22:00:00,512100,739.0,315.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,54.0,42.0,0.0,NaN,NaN,NaN
15179879,1549055,2022-08-31 23:00:00,512100,768.0,304.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,54.0,42.0,0.0,NaN,NaN,NaN

In [6]:
half_data.drop(half_data.columns[0], axis=1, inplace=True)

In [11]:
half_data

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[ÃÂ°C],Tp[ÃÂ°C],Gco[t/h],Tzco[ÃÂ°C],Tpco[ÃÂ°C],Qco[GJ],...,dTcw[ÃÂ°C],Gcw[t/h].3,Tzcw[ÃÂ°C],Qcw[GJ].1,Vcw[m3].1,Gcy[t/h],Tzcy[ÃÂ°C],Qcy[GJ],Vcy[m3],Toto[ÃÂ°C]
0,2021-01-01 00:00:00,684001,_,_,_,_,1.45,83.4,54.4,3728.120,...,_,_,_,_,_,_,_,_,_,_
1,2021-01-01 01:00:00,684001,_,_,_,_,1.93,82.7,56.2,3728.320,...,_,_,_,_,_,_,_,_,_,_
2,2021-01-01 02:00:00,684001,_,_,_,_,1.92,83.7,57.3,3728.520,...,_,_,_,_,_,_,_,_,_,_
3,2021-01-01 03:00:00,684001,_,_,_,_,2.15,82.7,58.9,3728.740,...,_,_,_,_,_,_,_,_,_,_
4,2021-01-01 04:00:00,684001,_,_,_,_,2.14,83.6,58.8,3728.950,...,_,_,_,_,_,_,_,_,_,_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9110011,2021-12-31 19:00:00,512100,1063.0,319.0,66.0,44.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9110012,2021-12-31 20:00:00,512100,1061.0,320.0,66.0,41.0,NaN,NaN,NaN,NaN,...,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9110013,2021-12-31 21:00:00,512100,1061.0,309.0,66.0,40.0,NaN,NaN,NaN,NaN,...,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9110014,2021-12-31 22:00:00,512100,1064.0,305.0,66.0,40.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9110015,2021-12-31 23:00:00,512100,1071.0,332.0,67.0,40.0,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Zapis do pliku CSV

In [7]:

half_data.to_csv('FULL.csv')

# Wyrzucenie zbędnych kolumn i zmiana nazw - całość

## Zbędne kolumny - duplikaty itd

In [61]:
half_data = half_data.drop(half_data.columns[42:-1], axis=1)

In [63]:
len(half_data.columns)

43

In [64]:
for index in range(len(kolumny)):
    print(test.columns[index])
    half_data.rename(columns = {half_data.columns[index]:kolumny[index]}, inplace = True)

Godz
ID_nadrz
Pz[kPa]
Pp[kPa]
Tz[°C]
Tp[°C]
Gco[t/h]
Tzco[°C]
Tpco[°C]
Qco[GJ]
Vco[m3]
Vuz[m3]
Gcw[t/h]
Gcw[t/h]_1
Gcw[t/h]_2
Qcw[GJ]
Vcw[m3]
Vzw[m3]
Ee[kWh]
Pz[kPa]_3
Pp[kPa]_4
Tz[°C]_5
Tp[°C]_6
dTco[°C]
Gco[t/h]_7
Tzco[°C]_8
Tpco[°C]_9
Qco[GJ]_10
Vco[m3]_11
Pcw[kPa]
Tcw[°C]
Tcyrk[°C]
dTcw[°C]
Gcw[t/h]_12
Tzcw[°C]
Qcw[GJ]_13
Vcw[m3]_14
Gcy[t/h]
Tzcy[°C]
Qcy[GJ]
Vcy[m3]
Toto[°C]

In [67]:
half_data.columns[-1]

'Toto[Â°C]'

In [68]:
half_data = half_data.drop(half_data.columns[-1], axis=1)

In [71]:
half_data.columns[0]

'Godz'

# 1.3: Właściwy zapis - index = False

In [72]:
'''Zapis bazy '''
half_data.to_csv('FULL_DEBUGGED1V1.csv',index=False)

# 2. Wyciąganie danych dla konkretnego adresu

In [8]:
df_raw_liczniki = pd.read_excel("liczniki.xlsx")
df_liczniki = df_raw_liczniki.copy()

In [9]:
adresy = []
for index in range(len(df_liczniki)):
    adresy.append(df_liczniki['AdrUlica'][index]+'_'+str(df_liczniki['AdrNr'][index]))
'''Liczniki - zamiana na str i usuniecie ostatniego znaku'''
liczniki = []
for index in range(len(df_liczniki)):
    liczniki.append(str(df_liczniki['Licznik'][index])[:len(str(df_liczniki['Licznik'][index]))-1])
'''Rodzaje liczników'''
typy = []
for index in range(len(df_liczniki)):
    typy.append(df_liczniki['LicznikTyp'][index])

## Ręcznie - na podstawie id

In [10]:
adr = adresy[0]
print(adr)

Mieszka I_2

In [11]:
adres1 = half_data[half_data['ID_nadrz']==int(liczniki[0])]

In [12]:
adres1["LicznikTyp"] = typy[0]

C:\Users\j.pilarz\AppData\Local\Temp\ipykernel_13968\1682211722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adres1["LicznikTyp"] = typy[0]

In [13]:
adres1

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[ÃÂÃÂ°C],Tp[ÃÂÃÂ°C],Gco[t/h],Tzco[ÃÂÃÂ°C],Tpco[ÃÂÃÂ°C],Qco[GJ],...,dTco[Â°C],Tzco[Â°C].1,Tpco[Â°C].1,Tcw[Â°C],Tcyrk[Â°C],dTcw[Â°C],Tzcw[Â°C],Tzcy[Â°C],Toto[Â°C],LicznikTyp
13344,2021-01-01 00:00:00,484500,_,_,_,_,0.91,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
13345,2021-01-01 01:00:00,484500,_,_,_,_,0.95,81.3,52.4,1770.320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
13346,2021-01-01 02:00:00,484500,_,_,_,_,1.00,81.4,53.3,1770.440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
13347,2021-01-01 03:00:00,484500,_,_,_,_,1.02,81.3,53.8,1770.560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
13348,2021-01-01 04:00:00,484500,_,_,_,_,1.01,81.5,54.0,1770.670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15168259,2022-08-31 19:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168260,2022-08-31 20:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168261,2022-08-31 21:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168262,2022-08-31 22:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168263,2022-08-31 23:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO

In [14]:
typy[0].replace("Licznik ", "")

'CO'

In [14]:

adres1.to_csv(adresy[0].replace(" ","")+'_'+typy[0].replace("Licznik ", "")+'_FULL'+'.csv')

In [24]:
len(adres1.columns)

73

In [28]:
adres1.columns[42:50]

Index(['Tz[ÃÂ°C]', 'Tp[ÃÂ°C]', 'Tzco[ÃÂ°C]', 'Tpco[ÃÂ°C]', 'Tz[ÃÂ°C].1',
       'Tp[ÃÂ°C].1', 'dTco[ÃÂ°C]', 'Tzco[ÃÂ°C].1'],
      dtype='object')

Index(['Tz[ÃÂ°C]', 'Tp[ÃÂ°C]', 'Tzco[ÃÂ°C]', 'Tpco[ÃÂ°C]', 'Tz[ÃÂ°C].1',
       'Tp[ÃÂ°C].1', 'dTco[ÃÂ°C]', 'Tzco[ÃÂ°C].1', 'Tpco[ÃÂ°C].1',
       'Tcw[ÃÂ°C]', 'Tcyrk[ÃÂ°C]', 'dTcw[ÃÂ°C]', 'Tzcw[ÃÂ°C]',
       'Tzcy[ÃÂ°C]', 'Toto[ÃÂ°C]', 'Tz[Â°C]', 'Tp[Â°C]', 'Tzco[Â°C]',
       'Tpco[Â°C]', 'Tz[Â°C].1', 'Tp[Â°C].1', 'dTco[Â°C]', 'Tzco[Â°C].1',
       'Tpco[Â°C].1', 'Tcw[Â°C]', 'Tcyrk[Â°C]', 'dTcw[Â°C]', 'Tzcw[Â°C]',
       'Tzcy[Â°C]', 'Toto[Â°C]'],
      dtype='object')

# Wyrzucenie zbędnych kolumn i zmiana nazw kolumn - konkretny adres

In [33]:
'''Wyrzucenie zbędnych kolum'''
adres1 = adres1.drop(adres1.columns[42:-1], axis=1)

In [41]:
adres1

,Hr,ID_nadrz,Pz[kPa],Pp[kPa],Tz[ÃÂÃÂ°C],Tp[ÃÂÃÂ°C],Gco[t/h],Tzco[ÃÂÃÂ°C],Tpco[ÃÂÃÂ°C],Qco[GJ],...,Gcw[t/h].3,Tzcw[ÃÂÃÂ°C],Qcw[GJ].1,Vcw[m3].1,Gcy[t/h],Tzcy[ÃÂÃÂ°C],Qcy[GJ],Vcy[m3],Toto[ÃÂÃÂ°C],LicznikTyp
13344,2021-01-01 00:00:00,484500,_,_,_,_,0.91,NaN,NaN,NaN,...,_,_,_,_,_,_,_,_,_,Licznik CO
13345,2021-01-01 01:00:00,484500,_,_,_,_,0.95,81.3,52.4,1770.320,...,_,_,_,_,_,_,_,_,_,Licznik CO
13346,2021-01-01 02:00:00,484500,_,_,_,_,1.00,81.4,53.3,1770.440,...,_,_,_,_,_,_,_,_,_,Licznik CO
13347,2021-01-01 03:00:00,484500,_,_,_,_,1.02,81.3,53.8,1770.560,...,_,_,_,_,_,_,_,_,_,Licznik CO
13348,2021-01-01 04:00:00,484500,_,_,_,_,1.01,81.5,54.0,1770.670,...,_,_,_,_,_,_,_,_,_,Licznik CO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15168259,2022-08-31 19:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168260,2022-08-31 20:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168261,2022-08-31 21:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168262,2022-08-31 22:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168263,2022-08-31 23:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO

In [35]:
adres1.to_csv(adresy[0].replace(" ","")+'_'+typy[0].replace("Licznik ", "")+'_FULL_DEBUG_COL'+'.csv')

In [36]:
'''Zamiana nazw kolumn'''

'Zamiana nazw kolumn'

In [38]:
adres1.columns[0]

'Godz'

In [39]:
test = adres1.rename(columns = {adres1.columns[0]:'Hr'}, inplace = True)

In [49]:
test = adres1.copy()

In [45]:
cols = pd.read_excel("kolumny.xlsx")

In [46]:
kolumny= cols.columns

In [66]:
kolumny

Index(['Godz', 'ID_nadrz', 'Pz[kPa]', 'Pp[kPa]', 'Tz[°C]', 'Tp[°C]',
       'Gco[t/h]', 'Tzco[°C]', 'Tpco[°C]', 'Qco[GJ]', 'Vco[m3]', 'Vuz[m3]',
       'Gcw[t/h]', 'Gcw[t/h]_1', 'Gcw[t/h]_2', 'Qcw[GJ]', 'Vcw[m3]', 'Vzw[m3]',
       'Ee[kWh]', 'Pz[kPa]_3', 'Pp[kPa]_4', 'Tz[°C]_5', 'Tp[°C]_6', 'dTco[°C]',
       'Gco[t/h]_7', 'Tzco[°C]_8', 'Tpco[°C]_9', 'Qco[GJ]_10', 'Vco[m3]_11',
       'Pcw[kPa]', 'Tcw[°C]', 'Tcyrk[°C]', 'dTcw[°C]', 'Gcw[t/h]_12',
       'Tzcw[°C]', 'Qcw[GJ]_13', 'Vcw[m3]_14', 'Gcy[t/h]', 'Tzcy[°C]',
       'Qcy[GJ]', 'Vcy[m3]', 'Toto[°C]'],
      dtype='object')

In [57]:
len(adres1.columns)

43

In [58]:
for index in range(len(kolumny)):
    print(test.columns[index])
    test.rename(columns = {test.columns[index]:kolumny[index]}, inplace = True)
    
#test.rename(columns = {test.columns[0]:kolumny[0]}, inplace = True)

Godz
ID_nadrz
Pz[kPa]
Pp[kPa]
Tz[ÃÂÃÂ°C]
Tp[ÃÂÃÂ°C]
Gco[t/h]
Tzco[ÃÂÃÂ°C]
Tpco[ÃÂÃÂ°C]
Qco[GJ]
Vco[m3]
Vuz[m3]
Gcw[t/h]
Gcw[t/h].1
Gcw[t/h].2
Qcw[GJ]
Vcw[m3]
Vzw[m3]
Ee[kWh]
Pz[kPa].1
Pp[kPa].1
Tz[ÃÂÃÂ°C].1
Tp[ÃÂÃÂ°C].1
dTco[ÃÂÃÂ°C]
Gco[t/h].1
Tzco[ÃÂÃÂ°C].1
Tpco[ÃÂÃÂ°C].1
Qco[GJ].1
Vco[m3].1
Pcw[kPa]
Tcw[ÃÂÃÂ°C]
Tcyrk[ÃÂÃÂ°C]
dTcw[ÃÂÃÂ°C]
Gcw[t/h].3
Tzcw[ÃÂÃÂ°C]
Qcw[GJ].1
Vcw[m3].1
Gcy[t/h]
Tzcy[ÃÂÃÂ°C]
Qcy[GJ]
Vcy[m3]
Toto[ÃÂÃÂ°C]

In [59]:
test

,Godz,ID_nadrz,Pz[kPa],Pp[kPa],Tz[°C],Tp[°C],Gco[t/h],Tzco[°C],Tpco[°C],Qco[GJ],...,Gcw[t/h]_12,Tzcw[°C],Qcw[GJ]_13,Vcw[m3]_14,Gcy[t/h],Tzcy[°C],Qcy[GJ],Vcy[m3],Toto[°C],LicznikTyp
13344,2021-01-01 00:00:00,484500,_,_,_,_,0.91,NaN,NaN,NaN,...,_,_,_,_,_,_,_,_,_,Licznik CO
13345,2021-01-01 01:00:00,484500,_,_,_,_,0.95,81.3,52.4,1770.320,...,_,_,_,_,_,_,_,_,_,Licznik CO
13346,2021-01-01 02:00:00,484500,_,_,_,_,1.00,81.4,53.3,1770.440,...,_,_,_,_,_,_,_,_,_,Licznik CO
13347,2021-01-01 03:00:00,484500,_,_,_,_,1.02,81.3,53.8,1770.560,...,_,_,_,_,_,_,_,_,_,Licznik CO
13348,2021-01-01 04:00:00,484500,_,_,_,_,1.01,81.5,54.0,1770.670,...,_,_,_,_,_,_,_,_,_,Licznik CO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15168259,2022-08-31 19:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168260,2022-08-31 20:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168261,2022-08-31 21:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168262,2022-08-31 22:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO
15168263,2022-08-31 23:00:00,484500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2607.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Licznik CO

In [60]:
test.to_csv(adresy[0].replace(" ","")+'_'+typy[0].replace("Licznik ", "")+'_FULL_DEBUG_NAZWY'+'.csv')